<!DOCTYPE html>
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='/js/script.js') }}"></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<head>
  <title>Andrew Pensoneault</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4X1LPV4PLF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-4X1LPV4PLF');
  </script>
</head>

<body>
  <div class="content">
    <h1>Andrew Pensoneault</h1>
    <div class="button-list">
      <div class="button" onclick="ClickTo('projects')">Projects</div>
      <div class="button" onclick="ClickTo('links')">Links</div>
    </div>
    <h2 id="about-me"> About Me:</h2>
    <br>
    <div class="intro">
    My name is Andrew Pensoneault, I am a data scientist, machine learning researcher, and Ph.D. candidate at the University of Iowa.
    I explore methods which combine knowledge from pre-existing models with partial, indirect, and noisy data obtained through available
    sensors. I have also recently been interested in web programming, database management, and theoretical computer science topics. Outside
    work, I enjoy travel, DIY projects, and interior decorating.
    </div>
    <div class="photo-box">
      <img class="avatar" src="{{ url_for('static', filename='/img/andrew.jpg') }}" alt="Avatar" draggable="false"
        ondragstart="return false;">
    </div>
    <div id="projects">
      <br>
      <h2> Projects:</h2>
      <br>
      <div class="project-list">
        <div class="project" href="">Project1</div>
        <div class="project" href="">Project2</div>
        <div class="project" href="">Project3</div>
        <div class="project" href="">Project4</div>
        <div class="project" href="">Project5</div>
        <div class="project" href="">Project6</div>
        <div class="project" href="">Project7</div>
        <div class="project" href="">Project8</div>
      </div>
    </div>
  <div id="links">
    <br>
    <h2> Links:</h2>
    <div class="link-list">
	<div class="link" id="Publications"><span class="material-icons"> article </span> <a href=https://scholar.google.com/citations?user=bdsNskEAAAAJ&hl=en>Publications</a> </div>
    	<div class="link" id="Resume"> <span class="material-icons"> work </span> <a href=https://github.com/resume>Resume</a> </div>
    	<div class="link" id="LinkedIn"> <span class="iconify" data-icon="mdi-linkedin" data-inline="true"></span> <a href=https://www.linkedin.com/in/pensoneault> LinkedIn</a> </div>
    	<div class="link" id="GitHub"> <span class="iconify" data-icon="akar-icons:github-fill" data-inline="true"></span> <a href=https://github.com/Andrewpensoneault> GitHub</a> </div>
    	<div class="link" id="Email"><span class="material-icons"> email </span><a href=mail:apensoneault@gmail.com> apensoneault@gmail.com</a> </div>
    	<div class="link" id="Phone Number"> <span class="material-icons"> call </span> <a href=tel:7816977851> (781) 697-7851</a> </div>
    </div>
    <br>
  </div>
  </div>
</body>

</html>
